import React, { Component } from "react";
import { render } from "react-dom";

class App extends Component {

  state = {
    count: 0,
    overLimit: false
  };


  toggleState() {
    this.setState(prevState => ({
      count: prevState.count + 1,
      overLimit: prevState.count + 1 > 10
    }));
  }

  render() {
    const { count, overLimit } = this.state;
    return (
      <div>
        <h2>{this.props.title}</h2>
        <button onClick={() => this.upVote()}
          disabled={overLimit}>
          Click me
        </button>
        {!overLimit ? (
          <span>Clicked {count} times</span>
        ) : (
          <span>Botão foi clicado d+</span>
        )}
      </div>
    );
  }
}

render(<App title="Primeiro Component" />,
  document.getElementById("root"));
